<app-filter [categoryList]="categoryList" (filterChanged)="onFilterChanged($event)" ></app-filter>
<div class="row ">
  <div >
    <div class="card">
      <div class="card-header bg-primary-subtle">
        <div class="row">
          <div class="col-6 fw-bold fs-4">
            Products list
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-success" (click)="openModal()">New</button>
          </div>
        </div>
      </div>

      <div class="card-body product-list-container">
        <div class="row">
<!--          spinner-->
          <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center w-100">

            <div class="spinner-border text-success" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

<!--      Product list  -->
          <div class="col-lg-2 col-sm-4 " *ngFor="let product of filterProductList">
            <div class="card h-75 mt-0">
              <img [src]="product.productImageUrl" class="card-img-top img-fluid h-50 mt-0" style="object-fit: cover"
                   alt="...">
              <div class="card-body ">
                <h4 class="card-title fw-bolder mb-0">{{ product.productName }}</h4>
                <p class="card-text mb-0">{{ product.categoryName }}</p>
                <p class="card-text mb-0 fw-bold">{{ product.productPrice | currency: '$'}}</p>
                <p class="card-text mb-2">{{ product.createdDate |date: 'dd/MM/yyyy' }}</p>
                <div class="row">
                  <div class="col-6">
                    <a class="btn btn-primary text-center w-100" (click)="onEdit(product)">Edit</a>
                  </div>
                  <div class="col-6">
                    <a class="btn btn-danger text-center w-100" (click)="onDelete(product)">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Create & update product-->
  <!-- Modal for Create & Update Product -->
  <div class="modal fade" id="productModal" #productModal tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"> <!-- modal-lg giúp modal rộng hơn -->
      <div class="modal-content">
        <div class="modal-header bg-primary-subtle">
          <h5 class="modal-title" id="productModalLabel">{{ productObj.productId ? 'Update Product' : 'New Product' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <label>SKU</label>
              <input type="text" [(ngModel)]="productObj.productSku" class="form-control" required #sku="ngModel">
              <p *ngIf="sku.invalid && sku.touched" class="text-danger">This field is required</p>
            </div>
            <div class="col-6">
              <label>Name</label>
              <input type="text" [(ngModel)]="productObj.productName" class="form-control" required minlength="3" #name="ngModel">
              <p *ngIf="name.invalid && name.touched" class="text-danger">
                <span *ngIf="name.errors?.['required']">Product name is required</span>
                <span *ngIf="name.errors?.['minlength']">Must be at least 3 characters</span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label>Price</label>
              <input type="number" [(ngModel)]="productObj.productPrice" class="form-control" required min="1" #price="ngModel">
              <p *ngIf="price.invalid && price.touched" class="text-danger">
                <span *ngIf="price.errors?.['required']">Price is required</span>
                <span *ngIf="price.errors?.['min']">Must be greater than 0</span>
              </p>
            </div>
            <div class="col-6">
              <label>Category</label>
              <select [(ngModel)]="productObj.categoryId" class="form-select" required #category="ngModel">
                <option value="" disabled selected>Select category</option>
                <option *ngFor="let cate of categoryList" [value]="cate.categoryId">{{ cate.categoryName }}</option>
              </select>
              <p *ngIf="category.invalid && category.touched" class="text-danger">Please select a category</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label>Image URL</label>
              <input type="text" [(ngModel)]="productObj.productImageUrl" (blur)="validateImageURL()" class="form-control" required #image="ngModel">
              <p *ngIf="image.invalid && image.touched" class="text-danger">Image URL is required</p>
              <p *ngIf="image.invalid" class=text-danger>Invalid URL, please try again (etc: https://example.com/images/product1.jpg)</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label>Description</label>
              <textarea [(ngModel)]="productObj.productDescription" class="form-control" required #desc="ngModel"></textarea>
              <p *ngIf="desc.invalid && desc.touched" class="text-danger">Description is required</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-success" *ngIf="!productObj.productId" (click)="onSave()" [disabled]="isFormInvalid">Create Product</button>
          <button class="btn btn-success" *ngIf="productObj.productId" (click)="onUpdate()">Update Product</button>
        </div>
      </div>
    </div>
  </div>



</div>
